{% extends "base.html" %}

{% block title %}{{ producto.nombre }} - {{ block.super }}{% endblock %}

{% block content %}
<div class="container my-5">
    <div class="row">
        <div class="col-md-6 mb-4">
            {% if producto.imagen %}
                <img src="{{ producto.imagen.url }}" alt="{{ producto.nombre }}" class="img-fluid rounded shadow-sm">
            {% endif %}
        </div>

        <div class="col-md-6">
            <span class="badge bg-pink text-dark-emphasis mb-2">{{ producto.categoria.nombre }}</span>
            <h1 class="display-5 fw-bold">{{ producto.nombre }}</h1>

            <p class="precio-detalle display-6 my-3">S/ {{ producto.precio }}</p>

            <p class="lead">{{ producto.descripcion }}</p>

            <a href="#" class="btn btn-hero btn-lg mt-3">
                Consultar por WhatsApp
            </a>
        </div>
    </div>
</div>
{% endblock %}