{% extends "base.html" %}

{% block title %}{{ categoria.nombre }} - {{ block.super }}{% endblock %}

{% block content %}

    <div class="container my-5">
        <h1 class="display-4 text-center fw-bold">{{ categoria.nombre }}</h1>
    </div>

    <div class="container">

        <div class="catalogo-grid">

            {% for producto in productos %}

                <a href="{% url 'detalle_producto' producto.id %}" class="text-decoration-none">

                    <div class="card producto-card h-100">

                        {% if producto.imagen %}
                            <img src="{{ producto.imagen.url }}" alt="{{ producto.nombre }}" class="card-img-top">
                        {% endif %}

                        <div class="card-body d-flex flex-column">
                            <h2 class="card-title">{{ producto.nombre }}</h2>
                            <p class="precio mt-auto">S/ {{ producto.precio }}</p>
                        </div>

                    </div>

                </a>

            {% empty %}
                <div class="col-12">
                    <p class="text-center">Aún no hay productos disponibles en esta categoría.</p>
                </div>

            {% endfor %}
            </div>
        </div>

{% endblock %}